<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MAS7.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            </sectionGroup>
    </configSections>
    <userSettings>
        <MAS7.Properties.Settings>
            <setting name="MASPath" serializeAs="String">
                <value>C:\Program Files\</value>
            </setting>
            <setting name="IntelExclusive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommandLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeOnTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseOnTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Solidigm" serializeAs="String">
                <value>False</value>
            </setting>
        </MAS7.Properties.Settings>
    </userSettings>
</configuration>